@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&family=VT323&display=swap');
*{
  box-sizing: border-box;

}

.small{
  width: 150px;
}


.container-fluid h2{

}
.nav1{
  background-color:#291A38;
 text-transform: uppercase;
 font-weight: 500;
 letter-spacing: 1px;

}
.nav * {
  font-size: 25px;
}
.nav li {
  display: inline-block;
  list-style: outside none none;
  padding: 0;
}
.nav a {
  padding: 0.1em 0;
  color: #e8e8e8;
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-family: 'VT323', monospace;
}
.nav a:before,
.nav a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #9b59b6;
  width: 0;
}
.nav a:before {
  top: 0;
  left: 0;
}
.nav a:after {
  bottom: 0;
  right: 0;
}
.nav a:hover,
.nav .current a {
  color: #f8f8f8;
}
.nav a:hover:before,
.nav .current a:before,
.nav a:hover:after,
.nav .current a:after {
  width: 100%;
}

@-webkit-keyframes AnimationName {
  0%{background-position:45% 0%}
  50%{background-position:56% 100%}
  100%{background-position:45% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:45% 0%}
  50%{background-position:56% 100%}
  100%{background-position:45% 0%}
}
@keyframes AnimationName {
  0%{background-position:45% 0%}
  50%{background-position:56% 100%}
  100%{background-position:45% 0%}
}

#welcome-section{
background: url(img/bk.png);
 background-color: #f8f8f8;
 height: 110vh;
 min-height: 500px;
 background-size: cover;
 background-position: center;

}
.image{
    border-radius: 30px;
    width:20%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);

  }
.my-4{
  background-color: #41107b;
  max-width: 50%;
       margin: 40px auto;
       text-align: center;
}
hr:after {
    background:#e8e8e8;
    content: '< >';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
#center{
  width:10%;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.carousel-inner img {
  width: 100%;
  height: 100%;

}
#lil{
  background-size: 50%;
  width: 50%;
  margin:auto;
}
.carousel-caption {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 15px #000;
}
#about-me{
  padding-top: 5%;
  text-align: center;


}
#about-me h1{
  padding-bottom: 2%;


}
.forhover img{
  width: 100%;
}
#certifications img{
  width: 90%;
}
#profile-lin{
  padding-top:10px;
    background-color: #9c84b5;
    color: black;
}
#profile-lin a {
  color: black;

}

.lead{
  text-align:center;


}

.lead p{
  font-family: 'VT323', monospace;
}

h2{
font-family: 'Almendra', serif;

}

@keyframes crt-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.font-weight-light::after{
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:#391339;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}

p.font-weight-light::after {
  height:13px;
  width:6px;
}

.container-skillbar {
  width: 100%;
  padding-top: 30px;
  padding-right: 2%;
  padding-left: 2%;
  height: auto;
  overflow: none;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #efefef;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}
